{% extends "layout.html" %}
{% set active_page = "home" %}
{% block main %}
    <main class="vertical-center">
        <div class="sports-panel">
            <a href="/" value="skate">skate</a>
            <a value="tennis">tennis</a>
            <!-- <form method="POST" action="/home">
                <select name="sports">
                    <option value="Skateboarding" name="Skateboarding">Skateboarding</option>
                    <option value="Tennis" name="Tennis">Tennis</option>
                    <option value="Basketball" name="Basketball">Basketball</option>
                </select>
                <button type="submit" class="btn btn-default">Explore</button>
            </form> -->
        </div>
    </main>
{% endblock %} 